<div class="container">
  <h5>Broj poslova po mesecima za dekoratera</h5> <!--kolone/barovi-->
  <div style="width: 100%; display: flex;">
    <div style="width: 50%;">
      <canvas id="barChart"></canvas>
    </div>
    <h4>Raspodela poslova medju dekoraterima u firmi </h4>
    <div style="width: 30%;">
      <canvas id="pieChart"></canvas> <!--pita-->
    </div>
  </div>
  <h4>Prosecan mesecni broj poslova u proteklih 24m</h4>
  <div style="width: 100%;">
    <canvas id="histogram"></canvas>
  </div>
</div>
