label {
  display: block;
  font-size: 1rem;
  color: #4c704b;
  margin-bottom: 5px;
  text-align: left;
  font-family: 'Georgia', serif;
  font-weight: 600;
}

.changePassword{
  background-color: rgba(245, 245, 245, 0.9);
  padding: 5px;
  border-radius: 8px;
  width:30%;
  max-height:auto;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
