<h5>Promenite lozinku</h5>
<div class="changePassword">
  <label for="username">Korisnicko ime:</label>
  <input type="text" id="username" name="username" [(ngModel)]="kor_ime"> <br/>

  <label for="oldPassword">Stara lozinka:</label>
  <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="staraLozinka"> <br/>

  <label for="newPassword1">Nova lozinka:</label>
  <input type="password" id="newPassword1" name="newPassword1" [(ngModel)]="novaLozinka1"> <br/>

  <label for="newPassword2">Nova ponovo:</label>
  <input type="password" id="newPassword2" name="newPassword2" [(ngModel)]="novaLozinka2"> <br/>

  <button (click)="azurirajLozinku()"> Azuriraj lozinku </button> <br/>

  <span class="greska">{{porukaGreske}}</span> <br/>
  <span class="greska">{{porukaFormat}}</span> <br/>
</div>


