input[type="time"] {
  padding: 3px;
  font-size: 0.8rem;
  border: 1px solid #4c704b;
  border-radius: 5px;
  background-color: #eef6ee;
  color: #333;
  margin-right: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  height: 25px;
  width: 250px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.datumVreme{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
